.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.box {
    border-radius: 10px;
    background-color: #eaeaea;
    padding: 20px;
    max-height: 360px;
    overflow: hidden;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
}

.menuBox {
    position: relative;
    border-radius: 10px;
    background-color: #333333;
    margin: 20px;
    /*padding: 20px; */
    /*height: 20px; */
    /*width: 70%; */
    overflow: hidden;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
}

.card {
    position: relative;
    }

.card img {
    width: 100%;
    height: 80%;
    object-fit: fill;
    border-radius: 10px;
}

.text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #333;
    color: #fff;
    padding: 0 0;
    z-index: 1; /* Para que el header quede por debajo de la barra lateral */
    /*border-radius: 10px; */
}

/* Barra lateral */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* Estilo de barra lateral */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /*text-align: center; */
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* Barra lateral cambia color con el mouse */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Posición y estilo de botones para barra lateral */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Abrir barra lateral */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  /* La pagina se desplaza al abrir barra de navegación */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* Cambiar el tamaño del texto en barra de navegación */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* Cambiar cantidad de columnas en función del tamaño de la pantalla */
  @media (max-width: 1200px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }

  body {
    margin: 0;
    padding: 0;
  }
